<% layout('layouts/boilerplate') %>
    <link href="/assets/css/users/account-setting.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/plugins/dropify/dropify.min.css">
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content mt-5 pt-3">
        <div class="layout-px-spacing">

            <%- include('../partials/flash/flash.ejs') %>


                <div class="account-settings-container layout-top-spacing">

                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll"
                            data-offset="-100">
                            <div class="row">
                                <form action="/dormitory/student/<%= hostelliteInfo.username %>/edit" method="post"
                                    enctype="multipart/form-data">
                                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                        <div id="general-info" class="section general-info">
                                            <div class="info">
                                                <h6 class="">General Information</h6>
                                                <div class="row">
                                                    <div class="col-lg-11 mx-auto">
                                                        <div class="row">
                                                            <div class="col-xl-2 col-lg-12 col-md-4 mb-5">
                                                                <div class="upload mt-4 pr-md-4">
                                                                    <input accept="image/*" name="profileImage"
                                                                        type="file" id="input-file-max-fs"
                                                                        class="dropify"
                                                                        data-default-file="/hostel-files/hostellite-profile-images/<%= hostelliteInfo.profileImage %>"
                                                                        data-max-file-size="2M" />
                                                                    <p class="mt-2"><i
                                                                            class="flaticon-cloud-upload mr-1"></i>
                                                                        Upload Picture</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                                <div class="form">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="fullName">Full Name</label>
                                                                                <input name="fullName" type="text"
                                                                                    class="form-control mb-4"
                                                                                    id="fullName"
                                                                                    placeholder="Full Name"
                                                                                    value="<%= hostelliteInfo.fullName %> ">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <label class="dob-input">Date of
                                                                                Birth</label>
                                                                            <div class="d-sm-flex d-block">
                                                                                <div class="form-group mr-1">
                                                                                    <select name="DOB[]"
                                                                                        data-dayOfBirth="<%= hostelliteInfo.DOB[0] %>"
                                                                                        class="form-control"
                                                                                        id="dayOfBirth">
                                                                                        <option>Day</option>
                                                                                        <option>1</option>
                                                                                        <option>2</option>
                                                                                        <option>3</option>
                                                                                        <option>4</option>
                                                                                        <option>5</option>
                                                                                        <option>6</option>
                                                                                        <option>7</option>
                                                                                        <option>8</option>
                                                                                        <option>9</option>
                                                                                        <option>10</option>
                                                                                        <option>11</option>
                                                                                        <option>12</option>
                                                                                        <option>13</option>
                                                                                        <option>14</option>
                                                                                        <option>15</option>
                                                                                        <option>16</option>
                                                                                        <option>17</option>
                                                                                        <option>18</option>
                                                                                        <option>19</option>
                                                                                        <option selected="">20</option>
                                                                                        <option>21</option>
                                                                                        <option>22</option>
                                                                                        <option>23</option>
                                                                                        <option>24</option>
                                                                                        <option>25</option>
                                                                                        <option>26</option>
                                                                                        <option>27</option>
                                                                                        <option>28</option>
                                                                                        <option>29</option>
                                                                                        <option>30</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="form-group mr-1">
                                                                                    <select name="DOB[]"
                                                                                        id="monthOfBirth"
                                                                                        data-monthOfBirth="<%= hostelliteInfo.DOB[1] %>"
                                                                                        class="form-control" id="month">
                                                                                        <option>Month</option>
                                                                                        <option selected="">Jan</option>
                                                                                        <option>Feb</option>
                                                                                        <option>Mar</option>
                                                                                        <option>Apr</option>
                                                                                        <option>May</option>
                                                                                        <option>Jun</option>
                                                                                        <option>Jul</option>
                                                                                        <option>Aug</option>
                                                                                        <option>Sep</option>
                                                                                        <option>Oct</option>
                                                                                        <option>Nov</option>
                                                                                        <option>Dec</option>
                                                                                    </select>
                                                                                </div>
                                                                                <div class="form-group mr-1">
                                                                                    <select name="DOB[]"
                                                                                        id="yearOfBirth"
                                                                                        data-yearOfBirth="<%= hostelliteInfo.DOB[2] %>"
                                                                                        class="form-control" id="year">
                                                                                        <option>Year</option>
                                                                                        <option>2018</option>
                                                                                        <option>2017</option>
                                                                                        <option>2016</option>
                                                                                        <option>2015</option>
                                                                                        <option>2014</option>
                                                                                        <option>2013</option>
                                                                                        <option>2012</option>
                                                                                        <option>2011</option>
                                                                                        <option>2010</option>
                                                                                        <option>2009</option>
                                                                                        <option>2008</option>
                                                                                        <option>2007</option>
                                                                                        <option>2006</option>
                                                                                        <option>2005</option>
                                                                                        <option>2004</option>
                                                                                        <option>2003</option>
                                                                                        <option>2002</option>
                                                                                        <option>2001</option>
                                                                                        <option>2000</option>
                                                                                        <option>1999</option>
                                                                                        <option>1998</option>
                                                                                        <option>1997</option>
                                                                                        <option>1996</option>
                                                                                        <option>1995</option>
                                                                                        <option>1994</option>
                                                                                        <option>1993</option>
                                                                                        <option>1992</option>
                                                                                        <option>1991</option>
                                                                                        <option>1990</option>
                                                                                        <option selected="">1989
                                                                                        </option>
                                                                                        <option>1988</option>
                                                                                        <option>1987</option>
                                                                                        <option>1986</option>
                                                                                        <option>1985</option>
                                                                                        <option>1984</option>
                                                                                        <option>1983</option>
                                                                                        <option>1982</option>
                                                                                        <option>1981</option>
                                                                                        <option>1980</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>


                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="password">Update
                                                                                    Password</label>
                                                                                <input name="password" type="password"
                                                                                    class="form-control mb-4"
                                                                                    id="password"
                                                                                    placeholder="Update Password"
                                                                                    value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                        <div id="contact" class="section contact">
                                            <div class="info">
                                                <h5 class="">Contact</h5>
                                                <div class="row">
                                                    <div class="col-md-11 mx-auto">
                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input name="contact[email]" type="text"
                                                                        class="form-control mb-4" id="email"
                                                                        placeholder="Write your email here"
                                                                        value="<%= hostelliteInfo.contact.email %>">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="phone">Phone</label>
                                                                    <input name="contact[phoneNo]" type="text"
                                                                        class="form-control mb-4" id="phone"
                                                                        placeholder="Write your phone number here"
                                                                        value="<%= hostelliteInfo.contact.phoneNo %>">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="country">Country</label>
                                                                    <select name="contact[address][country]"
                                                                        class="form-control" id="country">
                                                                        <option>All Countries</option>
                                                                        <option
                                                                            <%=(hostelliteInfo.contact.address.country=='Pakistan'
                                                                            ) ? 'selected' : '' %> >Pakistan</option>
                                                                        <option
                                                                            <%=(hostelliteInfo.contact.address.country=='Afghanistan'
                                                                            ) ? 'selected' : '' %>>Afghanistan</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="address">Address(<small>street/town,
                                                                            district, province</small>)</label>
                                                                    <input name="contact[address][streetAddress]"
                                                                        type="text" class="form-control mb-4"
                                                                        id="address" placeholder="Address"
                                                                        value="<%= hostelliteInfo.contact.address.streetAddress %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                                        <div id="edu-experience" class="section edu-experience">
                                            <div class="info">
                                                <h5 class="">Education</h5>
                                                <div class="row">

                                                    <div class="edu col-md-11 mx-auto">

                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="text-center d-block">Enter your School
                                                                        information</h4>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter your School
                                                                            Name</label>
                                                                        <input name="education[school][name]"
                                                                            type="text" class="form-control mb-4"
                                                                            id="degree1"
                                                                            placeholder="Add your school name here"
                                                                            value="<%= hostelliteInfo.education.school.name %>">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Starting From</label>

                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[school][start]"
                                                                                            data-schoolStart="<%= hostelliteInfo.education.school.start %>"
                                                                                            class="form-control mb-4"
                                                                                            id="schoolStart">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009
                                                                                            </option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Ending In</label>

                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[school][end]"
                                                                                            data-schoolEnd="<%= hostelliteInfo.education.school.end %>"
                                                                                            class="form-control input-sm"
                                                                                            id="schoolEnd">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009</option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="edu col-md-11 mx-auto">

                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="text-center d-block">Enter your college
                                                                        information</h4>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter Your Collage
                                                                            Name</label>
                                                                        <input name="education[college][name]"
                                                                            type="text" class="form-control mb-4"
                                                                            id="degree1"
                                                                            placeholder="Add your college name here"
                                                                            value="<%= hostelliteInfo.education.college.name %>">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Starting From</label>

                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[college][start]"
                                                                                            data-collegeStart="<%= hostelliteInfo.education.college.start %>"
                                                                                            class="form-control mb-4"
                                                                                            id="collegeStart">
                                                                                            <option>Year</option>
                                                                                            <option>2022</option>
                                                                                            <option>2021</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009
                                                                                            </option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Ending In</label>

                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[college][end]"
                                                                                            data-collegeEnd="<%= hostelliteInfo.education.college.end %>"
                                                                                            class="form-control input-sm"
                                                                                            id="collegeEnd">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009</option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="edu col-md-11 mx-auto">

                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="text-center d-block">Enter your
                                                                        information about
                                                                        this
                                                                        university</h4>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter your degree
                                                                            name</label>
                                                                        <input name="education[degree][name]"
                                                                            type="text" class="form-control mb-4" id=""
                                                                            placeholder="Enter the name of your degree"
                                                                            value="<%= hostelliteInfo.education.degree.name %>">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Starting From</label>

                                                                                <div class="row">

                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[degree][start]"
                                                                                            data-degreeStart="<%= hostelliteInfo.education.degree.start %>"
                                                                                            class="form-control mb-4"
                                                                                            id="degreeStart">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009
                                                                                            </option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label>Ending In</label>

                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <select
                                                                                            name="education[degree][end]"
                                                                                            data-degreeEnd="<%= hostelliteInfo.education.degree.end %>"
                                                                                            class="form-control input-sm"
                                                                                            id="degreeEnd">
                                                                                            <option>Year</option>
                                                                                            <option>2020</option>
                                                                                            <option>2019</option>
                                                                                            <option>2018</option>
                                                                                            <option>2017</option>
                                                                                            <option>2016</option>
                                                                                            <option>2015</option>
                                                                                            <option>2014</option>
                                                                                            <option>2013</option>
                                                                                            <option>2012</option>
                                                                                            <option>2011</option>
                                                                                            <option>2010</option>
                                                                                            <option>2009</option>
                                                                                            <option>2008</option>
                                                                                            <option>2007</option>
                                                                                            <option>2006</option>
                                                                                            <option>2005</option>
                                                                                            <option>2004</option>
                                                                                            <option>2003</option>
                                                                                            <option>2002</option>
                                                                                            <option>2001</option>
                                                                                            <option>2000</option>
                                                                                            <option>1999</option>
                                                                                            <option>1998</option>
                                                                                            <option>1997</option>
                                                                                            <option>1996</option>
                                                                                            <option>1995</option>
                                                                                            <option>1994</option>
                                                                                            <option>1993</option>
                                                                                            <option>1992</option>
                                                                                            <option>1991</option>
                                                                                            <option>1990</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="edu col-md-11 mx-auto">

                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="text-center d-block">Enter your
                                                                        information about
                                                                        your Hostel</h4>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter your Hostel
                                                                            Number</label>
                                                                        <input name="hostelInfo[hostelNo]" type="text"
                                                                            class="form-control mb-4" id=""
                                                                            placeholder="Enter your hostel numner"
                                                                            value="<%= hostelliteInfo.hostelInfo.hostelNo %>">

                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter your Room
                                                                            Number</label>
                                                                        <input name="hostelInfo[roomNo]" type="text"
                                                                            class="form-control mb-4" id=""
                                                                            placeholder="Enter your Room numner"
                                                                            value="<%= hostelliteInfo.hostelInfo.roomNo %>">

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="account-settings-footer">

                        <div class="as-footer-container">

                            <button id="multiple-reset" class="btn btn-primary">Reset All</button>
                            <div class="blockui-growl-message">
                                <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                            </div>
                            <button id="saveChanges" class="btn btn-success">Save Changes</button>

                        </div>

                    </div>
                </div>

        </div>

    </div>
    </div>
    <!--  END CONTENT AREA  -->

    </div>
    <!-- END MAIN CONTAINER -->


    <script src="/plugins/dropify/dropify.min.js"></script>
    <script src="/plugins/blockui/jquery.blockUI.min.js"></script>
    <script src="/assets/js/users/account-settings.js"></script>

    <!-- fill form field with previous values -->
    <script>
        //select proper day of birth
        for (let day of document.getElementById('dayOfBirth').children) {
            if (document.getElementById('dayOfBirth').getAttribute('data-dayOfBirth') == day.innerHTML) {
                day.setAttribute('selected', true);
            }
        }

        //select proper month of birth
        for (let month of document.getElementById('monthOfBirth').children) {
            if (document.getElementById('monthOfBirth').getAttribute('data-monthOfBirth') == month.innerHTML) {
                month.setAttribute('selected', true);
            }
        }

        //select proper year of birth
        for (let year of document.getElementById('yearOfBirth').children) {
            if (document.getElementById('yearOfBirth').getAttribute('data-yearOfBirth') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }

        //fill School start and school end
        for (let year of document.getElementById('schoolStart').children) {
            if (document.getElementById('schoolStart').getAttribute('data-schoolStart') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }
        for (let year of document.getElementById('schoolEnd').children) {
            if (document.getElementById('schoolEnd').getAttribute('data-schoolEnd') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }

        //fill college start and end
        for (let year of document.getElementById('collegeStart').children) {
            if (document.getElementById('collegeStart').getAttribute('data-collegeStart') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }
        for (let year of document.getElementById('collegeEnd').children) {
            if (document.getElementById('collegeEnd').getAttribute('data-collegeEnd') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }

        //fill degree start and end
        for (let year of document.getElementById('degreeStart').children) {
            if (document.getElementById('degreeStart').getAttribute('data-degreeStart') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }
        for (let year of document.getElementById('degreeEnd').children) {
            if (document.getElementById('degreeEnd').getAttribute('data-degreeEnd') == year.innerHTML) {
                year.setAttribute('selected', true);
            }
        }

    </script>

    <script>
        document.getElementById('saveChanges').addEventListener('click', (evt) => {
            document.forms[0].submit();
        })
    </script>